#detail div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#detail div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#detail div:nth-child(2) h1 {
    grid-column: 1/3;
}

button[name=koupit]{
    background-color: rgb(42, 145, 214);
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    
    height: 30px;
}